{% extends "base.html" %}
{% block title %} LISTA {% endblock %}

{% block contenido %}

{% if nombre %}

    <ul>
        <li>
            <p>Nombre: {{ nombre }}</p>
        </li>
        <li>
            <p>Enlace informativo: <a href="{{ enlaces_info }}">INFO</a></p>
        </li>
        <li>
            <p>Temperamento: {{ Temperamento }}</p>
        </li>
        <li>
            <p>Origen: {{ origen }}</p>
        </li>
        <li>
            <p>Esperanza de vida: {{ vida }}</p>
        </li>
        <li>
            <p>Relación con perros (0-5): {{ relacion_perros }}</p>
        </li>
        <li>
            <p><img src="https://cdn2.thecatapi.com/images/{{ imagen }}.jpg" alt="Gato"></p>
        </li>
        <li>
            <p>Descripción: {{ descripcion }}</p>
        </li>
    </ul>   
{% endif %}

{% endblock %}
